/* General Body Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f6f9;
    color: #444;
  }
  
  /* Header Container Styles */
  #header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f56c23;
    color: white;
    padding: 10px 20px;
    width: calc(100% - 230px);
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 1000;
    transition: width 0.3s ease;
  }
  
  .header-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  
  /* Base Content Collapsed Styles */
  #base-content.collapsed .logo-container {
    width: 60px;
    transition: width 0.3s ease;
  }
  
  #base-content.collapsed #sidebar {
    display: none;
  }
  
  #base-content.collapsed .arrow {
    transform: rotate(180deg);
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .user-info img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .user-info .dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 50px;
    background-color: #fff;
    color: #444;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .user-info .dropdown a {
    display: block;
    padding: 5px;
    color: #444;
    text-decoration: none;
  }
  
  .user-info:hover .dropdown {
    display: block;
  }
  
  /* Logo Container Styles */
  .logo-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dfdfdf;
    width: 190px;
    padding: 20px;
    z-index: 1001;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-out;
  }
  
  /* Navigation Styles */
  nav {
    background-color: #dfdfdf;
    color: rgb(48, 48, 48);
    width: 230px;
    position: fixed;
    top: 100px;
    left: 0;
    padding-top: 20px;
    box-sizing: border-box;
    height: calc(100vh - 100px);
    overflow-x: hidden;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    padding: 15px 20px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s, padding-left 0.3s;
    position: relative;
  }
  
  nav ul li a {
    color: rgb(80, 80, 80);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  nav ul li:hover,
  nav ul li.active {
    background-color: #b7b7b7;
    padding-left: 30px;
    box-shadow: #939393;
  }
  
  nav ul li ul {
    display: none;
    list-style: none;
    padding-left: 20px;
  }
  
  nav ul li ul li {
    background-color: #d0d0d0;
    padding: 10px 15px;
  }
  
  nav ul li.has-dropdown > a::after {
    content: ' \25be';
    font-size: 0.8em;
    margin-left: auto;
    padding: 0.4rem;
  }
  
  /* Dropdown Styles */
  .nav-item.has-dropdown .dropdown {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    animation: slideDown 0.3s ease-out;
  }
  
  .nav-item.has-dropdown.open .dropdown {
    display: block;
  }
  
  .nav-item.has-dropdown .dropdown li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
    font-size: 0.85em;  /* Decrease text size */
  }
  
  .nav-item.has-dropdown .dropdown li:hover {
    background-color: #f4f6f9;
  }
  
  .nav-item.has-dropdown .dropdown li a {
    color: #444;
    text-decoration: none;
  }
  
  .nav-item.has-dropdown .dropdown li:last-child {
    border-bottom: none;
  }
  
  nav ul li.has-dropdown.open > a::after {
    content: ' ▲';
  }
  
  /* Main Content Styles */
  main {
    margin-left: 230px;
    padding: 80px 20px 20px 20px;
    box-sizing: border-box;
    width: calc(100% - 230px);
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    nav {
      width: 200px;
    }
  
    main {
      margin-left: 200px;
      width: calc(100% - 200px);
    }
  }
  
  @media (max-width: 576px) {
    nav {
      width: 150px;
    }
  
    main {
      margin-left: 150px;
      width: calc(100% - 150px);
    }
  
    .stats .stat {
      flex: 1 1 100%;
    }
  }
  
  /* Logo Styles */
  .logo {
    width: 30%;
  }
  


  .icon {
    fill: #f60;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
  
  .nav-item.has-dropdown .dropdown {
    display: none;
  }
  
  .nav-item.has-dropdown .dropdown.open {
    display: block;
  }
  
  /* Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #c5c5c5;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #9c9c9c;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #959595;
  }
  

  .txt-tit1 {
    position: absolute;
    left: 90px;
    top: 10px;
    color: #f37920;
    font-family: 'Minion Pro', sans-serif;
  }
  
  .txt-tit2 {
    position: absolute;
    left: 90px;
    top: 30px;
    font-family: 'Minion Pro', sans-serif;
    color: #7d7d7d;
  }
  
  /* Collapsed Styles */
  .collapsed {
    transform: translateX(-250px);
    transition: transform 0.3s ease;
  }
  
  #base-content.collapsed .logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    transition: width 0.3s ease;
  }
  
  #base-content.collapsed nav {
    display: none;
  }
  
  #base-content.collapsed {
    transform: translateX(-250px);
    transition: transform 0.3s ease;
  }
  
  #sidebar.collapsed + main {
    margin-left: 0;
    width: 100%;
  }
  
  #header-container.collapsed-header {
    width: 100%;
  }
  
  #base-content.collapsed .arrow {
    transform: rotate(180deg);
  }
  
  #base-content.collapsed #sidebar {
    width: 60px;
  }
  
  #base-content.collapsed #header-container {
    width: calc(100% - 60px);
  }
  
  .hidden {
    display: none;
  }
  
  header .user-info {
    margin-left: auto;
  }
  
  /* Main Content Expanded Styles */
  #main-content.expanded-main {
    margin-left: 0;
    width: 100%;
    transition: margin-left 0.3s ease, width 0.3s ease;
  }
  
  #base-content.hidden {
    display: none;
  }
  
  #header-container.collapsed-header {
    width: 100%;
  }
  
  #base-content.collapsed .logo-container {
    width: 60px;
    transition: width 0.3s ease;
  }
  
  #base-content.collapsed nav {
    display: none;
  }
  

  /* Navigation Dropdown Styles */
  .nav-item.has-dropdown > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-item.has-dropdown .dropdown {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .nav-item.has-dropdown.open .dropdown {
    display: block;
  }
  
  .nav-item.has-dropdown .dropdown li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
    font-size: 0.85em;  /* Decrease text size */
  }
  
  .nav-item.has-dropdown .dropdown li:hover {
    background-color: #f4f6f9;
  }
  
  .nav-item.has-dropdown .dropdown li a {
    color: #444;
    text-decoration: none;
  }
  
  .nav-item.has-dropdown .dropdown li:last-child {
    border-bottom: none;
  }
  
  /* Keyframes for animations */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes slideDown {
    from { transform: translateY(-10px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }

  .user-actions {
    position: relative; /* Ensures dropdown is positioned relative to this container */
  }
  
  .dropdown-menu {
    display: none; /* Initially hidden */
    position: absolute;
    right: 0; /* Aligns the dropdown to the right edge of the user-actions container */
    top: 100%; /* Positions the dropdown right below the toggle button */
    background-color: #ffffff; /* Light background for the dropdown */
    min-width: 100px; /* Adjusted minimum width */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Adds shadow for dropdown */
    z-index: 1; /* Makes sure the dropdown is on top of other content */
    border-radius: 0px; /* Optional: Adds rounded corners */
  }
  
  .dropdown-menu li {
    color: #333333; /* Darker text color for better readability */
    padding: 5px; /* Padding for list items */
    text-decoration: none; /* Removes underline from links */
    display: block; /* Makes the list items block to fill the menu width */
  }
  
  .dropdown-menu li:hover {
    background-color: #f4f4f4; /* Light grey background on hover */
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    color: #444; /* Color for the link */
  }
  
  .nav-link i {
    margin-right: 8px; /* Right margin to the icon for spacing */
  }

  .container {
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.100);
    border-radius: 0px;
  } 

  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }

  /* Table Styling */
  table{
    width: 100%;
    border-collapse: collapse;
  }

  table th {
    border-bottom: 1px solid #969696;
    padding: 12px;
    text-align: left;
    font-weight: bolder;
    background-color: #cccccc;
  }

  table td {
    border-bottom: 1px solid #ccc;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    color: rgb(104, 104, 104);
  }

  table tr:hover {
    background-color: #f9f9f9;
  }

  table td.actions {
    text-align: right;
  }

  table th:last-child, table td:last-child {
    text-align: center;
  }

  /* Button Styling */
  .btn {
    padding: 10px 15px;
    color: #413838;
    background-color: #bebebe;
    border: none;
    border-radius: 0px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 16px; /* Larger font size */
    border-radius: 0px; /* Rounded corners */
    border: none; /* No border */
    text-decoration: none; /* No underline */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    font-weight: bold; 
  }
.btn-red:hover {
    background-color: #802020; /* Slightly darker grey on hover */
    color: #ececec;
}
.btn-orange:hover {
    color: #ececec;
    background-color: #d36323; /* Slightly darker grey on hover */
}
.btn-green:hover {
    color: #ececec;
    background-color: #18642a; /* Slightly darker green when hovered */
}
.btn-white:hover {
    background-color: #969696;
}


input, select,textarea {
    width: calc(100% - -100px); /* تقليل العرض لتناسب الهوامش */
    padding: 12px; /* زيادة التبطين لتحسين التفاعل باللمس */
    margin: 4px 5px; /* تعديل الهامش للتباعد بين العناصر */
    display: inline-block; /* يسمح للعناصر بالجلوس في خط واحد */
    border: 1px solid #ce6e0069; /* حدود رمادية فاتحة */
    border-radius: 0px; /* زوايا مستديرة */
    box-sizing: border-box; /* يشمل التبطين والحدود في عرض العنصر */ /* Full width of the column */
  }
input[type="text"]:active,textarea:active {
  border-color: #f37920; /* تغيير لون الحدود إلى البرتقالي */
  box-shadow: 0 0 8px #f37920; /* إضافة ظل باللون البرتقالي */
  transform: scale(0.98); /* تقليص حجم العنصر قليلاً لإضافة تأثير عند الضغط */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* إضافة حركة انتقالية للتحويل والظل */
}
input:focus,
select:focus,
textarea:focus
{
    border-color: #10abb6;
    box-shadow: 0 0 15px rgba(0, 174, 255, 0.5);
    outline: none;
}
label {
    display: block; /* يضمن أن العلامة على خط جديد */
    margin-bottom: 5px; /* مسافة بين العلامة وحقل الإدخال */
    color: #333; /* لون نص رمادي داكن */
    font-size: 14px; /* حجم خط مناسب للقراءة */
    font-weight: bold; /* خط عريض لتحسين الرؤية */
    transition: color 0.3s ease; /* إضافة حركة لتغيير اللون */
}

label:hover {
    color: #f37920; /* تغيير لون النص إلى البرتقالي عند التمرير */
}


input, select, textarea {
    flex-grow: 1; /* السماح للمدخلات بالتوسع لتشغل المساحة المتاحة */
    margin-right: 10px; /* هامش على اليمين للفصل بين المدخلات والزر */
}


.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Space between rows */
}

.form-col {
  flex: 1; /* Each column takes up equal space */
  padding: 0 15px; /* Padding inside each column */
}

.form-col:first-child {
  padding-left: 0;
}

.form-col:last-child {
  padding-right: 0;
}

input, select, textarea {
  width: 100%; /* Full width of the column */
  padding: 8px; /* Comfortable padding inside the input */
  box-sizing: border-box; /* Include padding and border in the element's width */
}

/* Spacing for form elements */
.form-group {
  margin-bottom: 20px; /* Adjust the space as needed */
}

/* Spacing for list items */
.order-item {
  margin-bottom: 15px; /* Adjust the space as needed */
}

/* Spacing for buttons */
.btn {
  margin-right: 10px; /* Space between buttons */
}

.btn:focus
{
  border-color: #10abb6;
  box-shadow: 0 0 15px rgba(0, 174, 255, 0.5);
  outline: none;
}


/* Import/Export Form Styling */
.import-export-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid;
  border-color: #f37920; /* تغيير لون الحدود إلى البرتقالي */
  box-shadow: 0 0 8px #f37920; 
  background-color: #ebebeb;
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.file-input {
  border: 1px solid #ddd;
  padding: 8px;
  margin-right: 10px;
}

.import-btn, .export-btn {
  margin: 0 5px;
  padding: 8px 15px;
  font-size: 16px;
  text-align: center;
  border-radius: 0px;
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .import-export-form {
      flex-direction: column;
      align-items: stretch;
  }

  .file-input, .import-btn, .export-btn {
      width: 100%;
      margin-top: 10px;
  }

  .import-btn, .export-btn {
      margin-bottom: 10px;
  }
}


/* .modal-message {
  position: fixed;
  top: 60px; 
  right: 20px;
  z-index: 1050;
  padding: 15px;
  margin: 0;
  background-color: #b1c7b6; 
  color: #103f1b;
  border-radius: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: none;
}

.modal-success {
  background-color: #d4edda;
  color: #155724; 
} */