{% extends "base.html" %}
{% block title %}Product List{% endblock %}


{% block content %}    
    <h2>Product List</h2>
    <div class="container">
        <br>
        <a href="{% url 'product_new' %}" class="btn btn-green">Add New Product</a>
        <br>
        <br>
        <br>
        <!-- Search Form -->
        <div class="search-bar">
            <form action="{% url 'product_search' %}" method="GET" style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <label for="product_name">Product Name:</label>
                    <input type="text" id="product_name" name="product_name" placeholder="Search by Product Name" style="width: calc(100% - -100px); padding: 12px;" required>
                </div>
                <div>
                    <label for="product_code">Product Code:</label>
                    <input type="text" id="product_code" name="product_code" placeholder="Search by Product Code"  style="width: calc(100% - -100px); padding: 12px;" required>
                </div>
                <div>
                    <label for="supplier">Supplier:</label>
                    <input type="text" id="supplier" name="supplier" placeholder="Search by Supplier"  style="width: calc(100% - -100px); padding: 12px;" required>
                </div>
                <button type="submit" class="search-button" style="position: relative; top: 10.5px;">Search</button>
            </form>
        </div>
        <br>
        <table class="product-list">
            <tr>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Remaining Stock</th>
                <th>Supplier</th>
                <th>Action</th>
            </tr>
            {% for product in products %}
            <tr class="product-item">
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td> {{ product.stock }}</td>
                <td> {{ product.supplier }}</td>
                <td class="actions"><a href="{% url 'product_edit' id=product.id %}" class="btn btn-white">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}