        /* Container Styles */
        .container {
            max-width: 1200px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 0px;
        }

        /* Mobile Responsiveness */
        @media (max-width: 768px) {
            .container {
                padding: 10px;
            }
        }

        /* Table Styling */
        table.product-list {
            width: 100%;
            border-collapse: collapse;
        }

        table.product-list th{
            border-bottom: 1px solid #ccc;
            padding: 12px;
            text-align: left;
            font-weight: bolder;
        }
        table.product-list td {
            border-bottom: 1px solid #ccc;
            padding: 12px;
            text-align: left;
            font-weight: bold;
            color: gray;
        }

        table.product-list th {
            background-color: #f2f2f2;
        }

        table.product-list tr:hover {
            background-color: #f9f9f9;
        }

        table.product-list td.actions {
            text-align: right;
        }

        table.product-list th:last-child, table.product-list td:last-child {
            text-align: center;
        }

        /* Button Styling */
        .btn {
            padding: 5px 10px;
            color: #fff;
            background-color: #007BFF;
            border: none;
            border-radius: 0px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #0056b3;
        }

        .btn-green {
            background-color: #28a745;
        }

        .btn-green:hover {
            background-color: #1e7e34;
        }

        .btn-orange {
            background-color: #fd7e14;
        }

        .btn-orange:hover {
            background-color: #dc3545;
        }